################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/solucao-exemplo/src/Data/obj
/solucao-exemplo/src/Data/bin/Debug/net7.0
/solucao-exemplo/test/Data.Tests/bin/Debug/net7.0
/solucao-exemplo/test/Data.Tests/obj
/Agenda/Agenda.UIDesktop/obj
/Agenda/Agenda.DAL/bin/Debug
/Agenda/Agenda.DAL.Test/bin/Debug
/Agenda/Agenda.DAL.Test/obj/Debug
/Agenda/Agenda.Domain/bin/Debug
/Agenda/Agenda.Domain/obj/Debug
/Database1/Database1/bin/Debug
/Database1/Database1/obj/Debug
/Agenda/Agenda.Repos/bin/Debug
/Agenda/Agenda.Repos/obj/Debug
/Agenda/Agenda.Repos.Test/bin/Debug
/DELEGATES/DELEGATES/obj
/DELEGATES/DELEGATES/bin/Debug/net7.0
